aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.11.1
btrfsutil==5.17
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==37.0.0
discord.py==1.7.3
distlib==0.3.4
distro==1.7.0
dnspython==2.2.1
docopt==0.6.2
evdev==1.5.0
filelock==3.5.0
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
Markdown==3.3.7
more-itertools==8.12.0
msgpack==1.0.3
multidict==6.0.2
ordered-set==4.0.2
packaging==21.3
pep517==0.12.0
pipreqs==0.4.11
platformdirs==2.5.0
ply==3.11
progress==1.6
pycparser==2.21
pynput==1.7.6
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-xlib==0.31
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
six==1.16.0
soupsieve==2.3.2.post1
team==1.0
toml==0.10.2
tomli==2.0.1
typing-extensions==4.2.0
urllib3==1.26.9
virtualenv==20.11.0
webencodings==0.5.1
yarg==0.1.9
yarl==1.7.2
zipp==3.8.0
